*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #0b0a0aee;
}
.App{
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50) 100%), url("./batman-background.jpg") no-repeat; 
    background-size: 1365px;
    background-position-y: -50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 100vh;
    
}
h1{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.lista-Navbar{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 2%;
    font-size: 1.3rem;
    list-style: none;
}
.lista-Navbar li{
    margin: 15px;
}
.lista-Navbar li a{
    color: white;
    text-decoration: none;
    transition: 1s;
}
.lista-Navbar li a:hover{
    color: rgb(165, 165, 165);
    font-size: 1.4rem;
}
.lista-Navbar li a:active{
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
}
.logoBatman{
    width: 310px;
    margin-top: -4%;
    margin-left: 19%;
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    width: 800px;
}
.conteudo-principal iframe{
    margin-left: 4%;
    border-radius: 15px;
}
.informacoes-filmes{
    display: grid;
    grid-template-columns: .2fr .2fr .2fr;
    padding-left: 7%;
    margin-left: 2%;
    margin-top: 1%;

}
.critics{
    display: flex;
    flex-direction: row;
    
}
.critics img{
    width: 70px;
    height: 70px;
    margin-top: 5%;
    transition: 2s;
}
.critics img:hover{
    margin-top: -3px;
}
p{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 3%;
}
.nota-critica{
    margin-top: 20%;
}
.nota-audiencia{
    margin-top: 36%;
}
.audience{
    width: 50px;
    height: 70px;
    margin-top: 10px;
    transition: 2s;
}
.audience:hover{
    margin-top: -3;
}
.btn-comprar{
    width: 150px;
    height: 50px;
    font-size: 1.3rem;
    font-weight: bolder;
    margin-top: 25px;
    margin-left: 50px;
    background-color: #fbff14e3;
    border-radius: 12px;
    outline: 5px dashed rgb(255, 255, 255);
    cursor: pointer;
    transition: 1s;
}
.btn-comprar:hover{
    background-color: #000000e3;
    color: white;
    
}
.atores-legenda{
    position: absolute;
    width: 300px;
    margin-top: 1%;
}
.atores{
    position: absolute;
    width: 300px;
    margin-top: 2.5%;
}
.classificacao{
    position: absolute;
    width: 45px;
    height: 45px;
    margin-top: 1%;
    margin-left: 17%;
    border-radius: 5px;
}
.bilheteria{
    position: absolute;
    margin-top: 135px;
}
.data{
    position: absolute;
    margin-left: 950px;
    margin-top: 135px;
}
.conteudo-principal-filmes{
    margin-top: 13%;
    background-color: #000;
    width: 100%;
    height: 450px;
    transition: 1s;
}
.legenda-lancamentos{
    font-size: 1.2rem;
}
.filmes-futuros{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    transition: 1s;
}
.filmes-futuros:hover{
    opacity: 10%;
    
}
.filmes-futuros img{
    width: 250px;
    height: 350px;
    margin-left: 1%;
    margin-top: 12%;
    border-radius: 20px;
    transition: 1s ease;
    cursor: pointer;
}
.filmes-futuros img:hover{
    width: 250px;
    height: 350px;
}
.legenda-lancamentos{
    margin-left: 5%;
}
.centro-filmes img{
    width: 180px;
    height: 300px;
}
.ponta-filmes img{
    width: 150px;
    height: 250px;
}
.nome-filme-lancamento{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.logo-filme{
    width: 60%;
    margin-left: 10%;
}
.lista-Navbar-filme{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    font-size: 1.9rem;
    list-style: none;
}
.lista-Navbar-filme li{
    margin-right: 6%;
}
.lista-Navbar-filme li a{
    color: white;
    text-decoration: none;
    transition: 1s;
}
.lista-Navbar-filme li a:hover{
    color: rgb(165, 165, 165);
    
}
.sinopse-filme{
    width: 100%;
    height: 400px;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #810707e0;
}
.sinopse-filme img{
    width: 43%;
    margin-left: 4%;
    border-radius: 10px;
    border: 1px solid white;
}
.filme-sinopse-texto{
    width: 95%;
    padding-left: 5%;
    font-size: 1.4rem;
}
.personagens-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.personagens{
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.personagens img{
    width: 100%;
    height: 350px;
}
.nome-atores{
    font-size: 1.1rem;
}
.doutor-estranho-banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.425) 100%), url("./imgs/Doutor-Estranho-no-Multiverso-da-Loucura.jpg");
    background-size: 100%;
    
}
.morbius-banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.315), rgba(0, 0, 0, 0.425) 100%), url("./imgs/morbius-banner.webp");
    background-size: 100%;
}
.dumbledore-banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.411), rgba(0, 0, 0, 0.425) 100%), url("./imgs/os-segredos-de-dumbledore-banner.jpg");
    background-size: 100%;
}
.thor-banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.411), rgba(0, 0, 0, 0.425) 100%), url("./imgs/thor-banner.png");
    background-size: 100%;
}
.halloween-banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.411), rgba(0, 0, 0, 0.425) 100%), url("./imgs/halloween-ends-banner.jpg");
    background-size: 100%;
}

@media (min-width:1500px){
    .App{
        background-size: 6000px;
        font-size: 5rem;
    }
    .lista-Navbar{
        font-size: 5rem;
    }
    .lista-Navbar li{
        margin: 15px;
        margin-right: 2%;
    }
    .lista-Navbar li a:hover{
        font-size: 5.4rem;
    }
    .logoBatman{
        width: 60%;
        margin-top: -4%;
        margin-left: 19%;
    }
    .conteudo-principal{
        display: flex;
        flex-direction: column;
        width: 800px;
    }
    .conteudo-principal iframe{
        width: 2300px;
        height: 900px;
        margin-left: 5%;
        border-radius: 15px;
    }
}
@media (max-width: 1200px){
    .conteudo-principal{
        margin-left: -2%;
        width: 100%;
    }
    .logoBatman{
        margin-left: 15%;
    }
    .data{
        margin-top: 13%;
        margin-left: 70%;
    }
    .data p{
        font-size: 1.75rem;
    }
    .informacoes-filmes{
        grid-template-columns: .1fr .1fr .1fr;
        padding-left: 5%;
        margin-top: 1%;
    }
}
